@import components.controls.age_picker
@import components.graphs.figure
@(figureID: String, caption: String, figureDesc: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: Request[AnyContent])

@main(s"${figureDesc} - ${messages("site.title")}") {
<div class="p-4 accordion" id="accordionMain">
	<div class="card">
		<div class="card-header d-flex justify-content-between align-items-center" id="headingFigure">
			<div class="flex-shrink-1 flex-wrap"><h2 class="p-2 mb-0 svgtext">@figureDesc</h2></div>
			<div class="btn-toolbar mt-2 mb-0 mr-2 ml-2 flex-row flex-lg-row flex-nowrap align-self-end">
				@age_picker(figureID)
				@components.controls.accordion_button("collapseFigure", true, "figure", "")
			</div>
		</div>
		<div id="collapseFigure" class="collapse show" aria-labelledby="headingFigure" style="height: 65vh">
			<div class="card-body" style="height: 100%">
				@figure(figureID, caption)
			</div>
		</div>
	</div>
	<div class="card">
		<div id="headingTable" class="card-header">
			<div class="d-flex">
				<h3 class="p-2 mb-0 svgtext">Data Table</h3>
				<div class="btn-toolbar ml-auto p-2" role="toolbar" aria-label="Toolbar with button groups">
					<div class="input-group mx-1">
						<div class="input-group-prepend">
							<div class="input-group-text" title="Search">
								@components.bootstrap_icon("search", "bi-16")
							</div>
						</div>
						<input id="table-filter" class="form-control mr-sm-2 h-100" type="text" title="Search">
					</div>
					<div class="btn-group btn-group-sm" role="group" aria-label="First group">
						<a role="button" class="btn btn-light d-flex flex-row border" href='@routes.Assets.versioned("data/df_ex.csv")'>
							<div class="m-1">
								@components.bootstrap_icon("download", "bi-16")
							</div>
							<div class="m-1">@messages("controls.data.download")</div>
						</a>
					</div>
					@components.controls.accordion_button("collapseTable", false, "table", "")
				</div>
			</div>
		</div>
		<div id="collapseTable" class="collapse" aria-labelledby="headingTable" >
			<div class="card-body">
				@table("figure")
			</div>
		</div>
	</div>
</div>
}{
@webJarsUtil.locate("d3.min.js").script()
@webJarsUtil.locate("c3.min.js").script()
<script src='@routes.Assets.versioned("javascripts/lifeexpectancy.js")' type="text/javascript"></script>
@routes.Assets.versioned("clientGraphing").toString
@getClass.getResource("/public/clientGraphing")
@scalajs.html.scripts("clientGraphing", name => routes.Assets.versioned(name).toString, name => getClass.getResource(s"/public/$name") != null)
}
