@*
* Main page template that defines the common page structure, stylesheets and scripts.
*@
@import java.net.URL
@(title: String)(content: Html)(scripts: Html = Html(""))(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: Request[AnyContent])
<!DOCTYPE html>
<html lang="en">
<head>
	@* TODO metadata sections *@
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="@messages("site.desc")" />
	<meta name="author" content="LCDS">
	<meta name="keywords" content="COVID-19, life expectancy, excess mortality, data science, sociology, research">

	<meta property="og:title" content="@title.split('-').head.trim" />
	<meta property="og:description" content="@messages("site.desc")" />
	<meta property="og:site_name" content="@messages("site.title")" />
	<meta property="og:type" content="website" />
	@* TODO solve this properly *@
	<meta property="og:url" content="@{new URL(if (request.secure) "https" else "http", request.domain, if (request.host.split(':').length == 2) request.host.split(':').last.toInt else -1, request.uri).toString}" />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:image" content="@routes.Assets.versioned("images/socialpreview.png")" />

	<meta name="twitter:card" content="summary_large_image">

	<title>@title</title>
	<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

	@webJarsUtil.locate("c3.min.css").css()
	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>
<body class="vh-100">
@components.navigation.header()
@* TESTING removing the outer container has caused the footer to run over the content, this shouldnt happen *@
<div class="container-fluid position-absolute top-0 h-100">
	<div class="row h-100">
		<main class="col-12 col-md-12 ml-sm-auto px-0 bg-light" role="main">
			<div class="d-flex flex-column justify-content-between h-100 px-0">
				<div class="h-100">
					@content
				</div>
				<div>
					@components.navigation.footer()
				</div>
			</div>
		</main>
	</div>
</div>
@* TODO there are better ways to handle scala.js routing and twirl can supply routes if it renders more of the page *@
@helper.javascriptRouter("jsRoutes")(routes.javascript.Assets.versioned)
<script src='@routes.Assets.versioned("javascripts/versioned.js")' type="text/javascript"></script>
<script type="text/javascript">
(function() {
	var oldVersioned = jsRoutes.controllers.Assets.versioned;
	jsRoutes.controllers.Assets.versioned = function(path) {
		return oldVersioned.apply(jsRoutes.controllers.Assets, [typeof versioned !== "undefined" && versioned[path] || path]);
	};
})();
</script>
@webJarsUtil.locate("jquery.slim.min.js").script()
@webJarsUtil.locate("umd/popper.min.js").script()
@webJarsUtil.locate("bootstrap.min.js").script()
@scripts
@scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
</body>
</html>
