/*TODO min height set to force the scrollbar, set the empty sizes more realistically*/
figure.map-contain {
	min-height: 39vw;
}

.datamaps-legend {
	position: static;
}

.datamaps-legend dl {
	text-align: center;
	display: inline-block;
}

.svgtext {
	font-family: "Roboto Condensed",Georgia,Times New Roman,serif;
}

.figurecaption {
	//@include p-2
	//@include mb-0
	@extend .svgtext
}
