@import java.time.Year

@()(implicit messages: Messages)
<footer class="bg-light w-100 h-100">
	<hr class="mt-0">
	@components.navigation.acknowledgements(Acknowledgements.primary)
	<div class="pb-2">
		<span class="m-2">&copy; @messages("project.year")–@Year.now.getValue, @messages("project.copyright")</span>
		<span class="m-2">@components.bootstrap_icon("file-text-fill", "bi-16")<a class="px-1 mb-0" href="https://www.medrxiv.org/content/10.1101/2021.03.02.21252772v3.full">Preprint</a></span>
		<span class="m-2">@components.bootstrap_icon("github", "bi-16")<a class="px-1 mb-0" href="https://github.com/OxfordDemSci/ex2020">Modelling code</a></span>
		<span class="m-2">@components.bootstrap_icon("github", "bi-16")<a class="px-1 mb-0" href="https://github.com/ianknowles/COVID-19_life-dashboard">Dashboard code</a></span>
	</div>
</footer>
