@()(implicit messages: Messages, request: Request[AnyContent])
<li class='nav-item dropdown @{if (request.path == graphs.controllers.routes.HomeController.dash.toString || request.path == graphs.controllers.routes.HomeController.donut.toString) { "active" }}'>
	<a class="nav-link pl-1 dropdown-toggle" href="." id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		@components.bootstrap_icon("server", "bi-16")
		<span class="ml-1">@messages("nav.data.title")</span>
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdown01">
		@components.navigation.link(graphs.controllers.routes.HomeController.dash, "graph-up", "dash.title", "dropdown-item")
		@components.navigation.link(graphs.controllers.routes.HomeController.donut, "pie-chart", "donut.title", "dropdown-item")
	</div>
</li>
