@(elementID: String)(implicit messages: Messages)
<div class="btn-group btn-group-sm m-1">
	<button
		id="@elementID-sharemail"
		type="button"
		class="btn btn-outline-secondary d-flex"
		href="mailto:?to=&body=,&subject="
		target="_blank"
	>
		<div class="m-1">@components.bootstrap_icon("envelope", "bi-16")</div>
		<div class="m-1">@messages("controls.data.share")</div>
	</button>
	<a
		id="@elementID-data-link"
		type="button"
		class="btn btn-outline-secondary d-flex"
		target="_blank"
	>
		<div class="m-1">@messages("controls.data.download")</div>
		<div class="m-1">@components.bootstrap_icon("download", "bi-16")</div>
	</a>
</div>
