@import "lib/bootstrap/scss/bootstrap";
@import "components/shade";
@import "components/graphs/figure";
@import "components/graphs/table";
@import "components/navigation/acknowledgements";
@import "components/navigation/nav_top";
@import "index";

.top-0 {
  top: 0px;
}

body {
  font-size: .875rem;
}

/*
 * Content
*/

[role="main"] {
  padding-top: 126px; /* Space for fixed navbar */
}
@media (min-width: 768px) {
  [role="main"] {
    padding-top: 96px;
  }
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.background-color-sea {
	background:LightCyan
}

.border-right-2 {
	border-right-width: 2px;
}
